*{box-sizing:border-box;margin:0px;padding:0px;}
body{
    background-color: #52ccb8;
    text-align: center;
    font: 400 13.3333px Arial;
    padding-top: 20px;
}

ul{border: px solid lime;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px auto;
    padding: 26px 0;
}

li{
    border-radius: 50%;
    width: calc(40px + 17vw); height: calc(40px + 17vw);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;
}
li:nth-of-type(1){
    background-image: url("img/roc.png");
}
li:nth-of-type(2){
    background-image: url("img/pap.png");
}
li:nth-of-type(3){
    background-image: url("img/sci.png");
}

.compOpt li{
    border: 1px solid #999;
}
.userOpt li{
    border: 1px solid #7a00ff;
    cursor: pointer;
    transition: all .2s ease-out;
}

/* BUTTONS */
.btns{
    margin: 30px 0;
}
.reset{
    display: inline-block;
    vertical-align: middle;
    padding-top: 18px;
    text-decoration: none;
}
.glow-on-hover {
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px 20px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* RESULT */
h1{
    font: 800 24px Arial;
    margin: 30px;
}

@media only screen and (min-width:768px){
    ul{
        max-width: 800px;
        margin: 20px auto;
    }
    li{
        width: 180px; height: 180px;
        background-size: 100px auto;
    }
    .userOpt li:hover{
        border-width: 11px !important;
    }
    .btns{
        margin: 0;
    }
    h1{
        font: 900 40px Arial;
    }
}
